.text-center{
    text-align: center;
    color: blueviolet;
  }
  
  .bg-red{
    background: rgb(211, 167, 211);
  }
  
  .mx-auto{
    margin: auto;
  }
  
  .flex{
    display:flex;
  } 
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }